.footer__content-wrapper, .news__space, .news__api.first, .news__wrapper-date, .news .wrapper, .rent .owl-item, .rent__wrapper, .catalog__selector-name, .header .container .nav__links, .header .container .nav {
  display: flex;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 0.521vw;
  font-weight: 300;
}

@media (max-width: 48em) {
  html {
    font-size: 10px;
    -webkit-text-size-adjust: none;
  }
}
@media (max-width: 44em) {
     html {
         font-size: 9px;
     } 
 }
 @media (max-width: 38em) {
     html {
         font-size: 8x;
     }
}
 @media (max-width: 34em) {
    html {
         font-size: 7px;
     }
 }
 @media (max-width: 30em) {
    html {
         font-size: 6px;
     }
 }
 @media (max-width: 26em) {
     html {
        font-size: 4.5px;
    }
 }
body {
  background-color: #E5E5E5;
  color: #ffffff;
}

div, p, a, button, input, form, span, ul, li {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  font-size: 3rem;
}

h4 {
  font-size: 1.8rem;
  line-height: 2.6em;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  width: 100%;
}

.footer__content-wrapper, .news__space, .news__api.first, .news__wrapper-date, .news .wrapper, .rent .owl-item, .rent__wrapper, .catalog__selector-name, .header .container .nav__links, .header .container .nav {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 1.4rem;
  line-height: normal;
  font-weight: normal;
  color: #343434;
}

li::marker {
  color: #343434;
}

.container {
  width: 114rem;
  margin: 0 auto;
}

.wrapper__background {
  background: url(../img/background--hero.png) no-repeat;
  min-height: 80rem;
  background-size: contain;
}

.header .container {
  width: 100%;
}
.header .container .nav {
  align-items: center;
  background-color: rgba(0, 91, 193, 0.6);
  padding: 1.5rem 4rem;
}
.header .container .nav .logo {
  width: 14rem;
}
.header .container .nav__links {
  width: 45.3rem;
  margin-right: 64rem;
}
.header .container .nav__links p {
  font-weight: 600;
  color: #ffffff;
}

.hero .container {
  width: 61rem;
}
.hero__background {
  width: 44rem;
  height: 70.3rem;
  background-color: rgba(0, 91, 193, 0.6);
  position: absolute;
  top: 9rem;
  left: 45.5rem;
}
.hero__title {
  margin-top: 20.2rem;
}
.hero__title h1 {
  font-size: 4.8rem;
  text-transform: none;
  color: #FFFFFF;
}
.hero__subtitle {
  width: 40rem;
}
.hero__subtitle p {
  color: #ffffff;
  font-size: 1.6rem;
}
.hero__btn {
  width: 16rem;
  display: block;
}
.hero__btn p {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.9rem 3.6rem;
  border: 0.2rem solid #FFFFFF;
}

.hero__subtitle, .hero__btn {
  margin-top: 3rem;
}

.hero__subtitle, .hero__btn, .hero__title {
  position: relative;
}

.wrapper-title {
  padding: 15rem 0 2rem;
  width: 36rem;
  text-align: end;
  position: relative;
}
.wrapper-title h2 {
  line-height: 4.4em;
  letter-spacing: 0.1em;
  background: url(../img/heading--title.png) no-repeat left;
  background-size: 10rem;
}

.our__projects .owl-item {
  position: relative;
  width: 54rem;
}
.our__projects .owl-item.active {
  margin-right: 3rem;
}
.our__projects .owl-carousel .owl-stage-outer {
  max-height: 42rem;
}
.our__projects .owl-theme .owl-nav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 19rem;
  right: 0;
  margin: 0;
}
.our__projects .carousel-name {
  position: absolute;
  width: 25rem;
  background-color: #FFFFFF;
  padding: 2rem 2.5rem;
  top: 25.5rem;
  right: 2.9rem;
}

.owl-prev, .owl-next {
  width: 5.5rem;
}

.owl-theme .owl-nav [class*=owl-] {
  margin: 0.1rem;
}

.catalog .wrapper-title {
  width: 44rem;
}
.catalog__selector-name {
  width: 20rem;
  margin: auto;
}
.catalog__name h3 {
  font-size: 2.4rem;
  transition: ease-in-out 0.1s;
}
.catalog__name h3:hover {
  color: #005BC1;
  border-bottom: 0.2rem solid #005BC1;
}
.catalog__production {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 5rem;
}
.catalog__item {
  position: relative;
}
.catalog__title-item {
  position: absolute;
  display: flex;
  background-color: #005BC1;
  width: 26.5rem;
  height: 8.6rem;
  top: 20rem;
  right: 0;
}
.catalog__title {
  padding: 1.7rem 3.5rem;
  text-align: start;
  display: flex;
  align-items: center;
}
.catalog__title h4 {
  color: #FFFFFF;
  line-height: normal;
}

.rentEquipment .wrapper-title {
  width: 48rem;
}

.rent__wrapper {
  align-items: center;
}
.rent__content-wrapper {
  padding: 3.2rem 3rem;
}
.rent__discription {
  width: 35rem;
}
.rent__discription p {
  font-size: 1.8rem;
}
.rent__carousel-wrapper {
  border: 0.3rem solid #005BC1;
  width: 66.5rem;
}
.rent__title {
  position: relative;
  margin-bottom: 3rem;
}
.rent__carousel-img {
  width: 25.5rem;
}
.rent__carousel-title {
  margin-bottom: 3rem;
}
.rent__carousel-title h5 {
  font-size: 1.6rem;
}
.rent__content-pros {
  margin-left: 2.5rem;
  width: 26rem;
}
.rent__content-pros li {
  margin-bottom: 2rem;
}
.rent .owl-nav {
  position: absolute;
  top: -8.2rem;
  right: 0;
  margin-top: 0;
}
.news .wrapper {
  align-items: baseline;
}
.news .wrapper-title {
  width: 26rem;
}
.news__btn {
  background-color: #005BC1;
  padding: 1.5rem 3.4rem;
  transition: all 1s;
}
.news__btn:hover {
  background-color: #195396;
}
.news__btn a p {
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  color: #ffffff;
  text-transform: uppercase;
}
.news__content-wrapper {
  margin-bottom: 12rem;
}
.news__api.first {
  width: 54rem;
}
.news__api.first .subtitle {
  margin: 4rem 0 2rem;
}
.news__api.first .see-more a {
  text-decoration: underline;
  color: #343434;
}
.news__api.first .see-more a p {
  color: #000000;
}
.news__img {
  width: 25.5rem;
}
.news__api {
  width: 22.5rem;
}
.news__api .title h4 {
  line-height: normal;
}
.news__api .subtitle {
  margin: 1.9rem 0;
}
.news__wrapper-date {
  align-items: end;
}
.news__wrapper-date .img {
  width: 12.8rem;
}
.news__content .news__wrapper-date {
  align-items: center;
}
.news__content .subtitle {
  width: 25.5rem;
}

.footer {
  background-color: #005BC1;
}
.footer__wrapper {
  padding: 1.1rem 0 0;
}
.footer__content-wrapper {
  align-items: center;
  padding: 2.5rem 0;
  border-bottom: 0.1rem solid #ffffff;
}
.footer__content-wrapper:last-child {
  border-bottom: none;
}
.footer__grid {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.footer__grid .footer__about {
  width: 20rem;
}
.footer__tel h4 {
  color: #ffffff;
  letter-spacing: 0.1em;
}
.footer__address p, .footer__email p {
  font-weight: 600;
  color: #ffffff;
}
.footer__about p {
  color: #ffffff;
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
