.footer__content-wrapper, .news__space, .news__api.first, .news__wrapper-date, .news .wrapper, .rent .owl-item, .rent__wrapper, .catalog__selector-name, .header .container .nav__links, .header .container .nav {
  display: flex;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 0.521vw;
  font-weight: 300;
}

@media (max-width: 48em) {
  html {
    font-size: 10px;
    -webkit-text-size-adjust: none;
  }
}
body {
  background-color: #E5E5E5;
  color: #ffffff;
}

div, p, a, button, input, form, span, ul, li {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  font-size: 3rem;
}

h4 {
  font-size: 1.8rem;
  line-height: 2.6em;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  width: 100%;
}

.footer__content-wrapper, .news__space, .news__api.first, .news__wrapper-date, .news .wrapper, .rent .owl-item, .rent__wrapper, .catalog__selector-name, .header .container .nav__links, .header .container .nav {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 1.4rem;
  line-height: normal;
  font-weight: normal;
  color: #343434;
}

li::marker {
  color: #343434;
}

.container {
  width: 114rem;
  margin: 0 auto;
}

@media screen and (max-width: 48em) {
  .container {
    width: 95%;
  }
}
.wrapper-background {
  background: url(../img/background--hero.png) no-repeat;
  min-height: 80rem;
  background-size: contain;
}

@media screen and (max-width: 48em) {
  .wrapper-background {
    background-size: auto;
    min-height: 70rem;
  }
}
.header .container {
  width: 100%;
}
.header .container .nav {
  align-items: center;
  background-color: rgba(0, 91, 193, 0.6);
  padding: 1.5rem 4rem;
}
.header .container .nav .logo {
  width: 14rem;
}
.header .container .nav__links {
  width: 45.3rem;
  margin-right: 64rem;
}
.header .container .nav__links p {
  font-weight: 600;
  color: #ffffff;
}
@media screen and (max-width: 48em) {
  .header .container .nav__links {
    display: none;
  }
  .header .container .nav .logo {
    width: 10rem;
  }
}
@media screen and (max-width: 48em) {
  .header .container .nav {
    padding: 1rem 1rem;
  }
}

.menu {
  display: none;
}

.menu-inner {
  display: none;
  position: fixed;
  background-color: #343434;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
}

.close {
  width: 4rem;
  top: 2%;
  right: 5%;
  position: absolute;
}

.media-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
}
.media-links a p {
  color: #ffffff;
  margin-top: 2rem;
  font-size: 2.4rem;
}

@media screen and (max-width: 48em) {
  .menu {
    display: block;
  }
}
.hero .container {
  width: 61rem;
}
@media screen and (max-width: 48em) {
  .hero .container {
    width: 95%;
  }
}
.hero__background {
  width: 44rem;
  height: 70.3rem;
  background-color: rgba(0, 91, 193, 0.6);
  position: absolute;
  top: 9rem;
  left: 45.5rem;
}
@media screen and (max-width: 48em) {
  .hero__background {
    display: none;
  }
}
.hero__title {
  margin-top: 20.2rem;
}
.hero__title h1 {
  font-size: 4.8rem;
  text-transform: none;
  color: #FFFFFF;
}
@media screen and (max-width: 48em) {
  .hero__title {
    margin-top: 10.2rem;
  }
  .hero__title h1 {
    font-size: 4.6rem;
  }
}
.hero__subtitle {
  width: 40rem;
}
.hero__subtitle p {
  color: #ffffff;
  font-size: 1.6rem;
}
@media screen and (max-width: 48em) {
  .hero__subtitle {
    width: auto;
  }
}
.hero__btn {
  width: 16rem;
  display: block;
}
.hero__btn p {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.9rem 3.6rem;
  border: 0.2rem solid #FFFFFF;
}
@media screen and (max-width: 48em) {
  .hero__btn {
    width: auto;
    text-align: center;
  }
}

.hero__subtitle, .hero__btn {
  margin-top: 3rem;
}

.hero__subtitle, .hero__btn, .hero__title {
  position: relative;
}

.wrapper-title {
  padding: 15rem 0 2rem;
  width: 36rem;
  text-align: end;
  position: relative;
}
.wrapper-title h2 {
  line-height: 4.4em;
  letter-spacing: 0.1em;
  background: url(../img/heading--title.png) no-repeat left;
  background-size: 10rem;
}

@media screen and (max-width: 48em) {
  .wrapper-title {
    padding-top: 7rem;
    width: auto;
  }
  .wrapper-title h2 {
    text-align: center;
    font-size: 2.8rem;
    background: none;
  }
}
.our-projects .owl-item {
  position: relative;
  width: 54rem;
}
.our-projects .owl-item.active {
  margin-right: 3rem;
}
.our-projects .owl-carousel .owl-stage-outer {
  max-height: 42rem;
}
@media screen and (max-width: 48em) {
  .our-projects .owl-carousel .owl-stage-outer {
    max-height: 32rem;
  }
}
.our-projects .owl-theme .owl-nav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 19rem;
  right: 0;
  margin: 0;
}
@media screen and (max-width: 48em) {
  .our-projects .owl-theme .owl-nav {
    display: none;
  }
}
.our-projects .carousel-name {
  position: absolute;
  width: 25rem;
  background-color: #FFFFFF;
  padding: 2rem 2.5rem;
  top: 25.5rem;
  right: 2.9rem;
}
@media screen and (max-width: 48em) {
  .our-projects .carousel-name {
    top: 19.5rem;
    right: auto;
    width: auto;
  }
}

.owl-prev, .owl-next {
  width: 5.5rem;
}

.owl-theme .owl-nav [class*=owl-] {
  margin: 0.1rem;
}

.catalog .wrapper-title {
  width: 44rem;
}
@media screen and (max-width: 48em) {
  .catalog .wrapper-title {
    width: auto;
  }
}
.catalog__selector-name {
  width: 20rem;
  margin: auto;
}
.catalog__name h3 {
  font-size: 2.4rem;
  transition: ease-in-out 0.1s;
}
.catalog__name h3:hover {
  color: #005BC1;
  border-bottom: 0.2rem solid #005BC1;
}
.catalog__production {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 5rem;
}
@media screen and (max-width: 48em) {
  .catalog__production {
    grid-template-columns: repeat(1, 1fr);
  }
}
.catalog__item {
  position: relative;
}
.catalog__title-item {
  position: absolute;
  display: flex;
  background-color: #005BC1;
  width: 26.5rem;
  height: 8.6rem;
  top: 20rem;
  right: 0;
}
@media screen and (max-width: 48em) {
  .catalog__title-item {
    top: 15rem;
  }
}
.catalog__title {
  padding: 1.7rem 3.5rem;
  text-align: start;
  display: flex;
  align-items: center;
}
.catalog__title h4 {
  color: #FFFFFF;
  line-height: normal;
}

.rentEquipment .wrapper-title {
  width: 48rem;
}
@media screen and (max-width: 48em) {
  .rentEquipment .wrapper-title {
    width: auto;
  }
  .rentEquipment .wrapper-title h2 {
    line-height: normal;
  }
}

.rent__wrapper {
  align-items: center;
}
.rent__content-wrapper {
  padding: 3.2rem 3rem;
}
@media screen and (max-width: 48em) {
  .rent__content-wrapper {
    padding: 1.2rem 2rem;
  }
}
.rent__discription {
  width: 35rem;
}
.rent__discription p {
  font-size: 1.8rem;
}
@media screen and (max-width: 48em) {
  .rent__discription {
    display: none;
  }
}
.rent__carousel-wrapper {
  border: 0.3rem solid #005BC1;
  width: 66.5rem;
}
@media screen and (max-width: 48em) {
  .rent__carousel-wrapper {
    width: -webkit-fill-available;
  }
}
.rent__title {
  position: relative;
  margin-bottom: 3rem;
}
.rent__carousel-img {
  width: 25.5rem;
}
.rent__carousel-title {
  margin-bottom: 3rem;
}
.rent__carousel-title h5 {
  font-size: 1.6rem;
}
.rent__content-pros {
  margin-left: 2.5rem;
  width: 26rem;
}
.rent__content-pros li {
  margin-bottom: 2rem;
}
@media screen and (max-width: 48em) {
  .rent__content-pros {
    width: auto;
  }
}
.rent .owl-nav {
  position: absolute;
  top: -8.2rem;
  right: 0;
  margin-top: 0;
}
@media screen and (max-width: 48em) {
  .rent .owl-nav {
    display: none;
  }
  .rent .owl-item {
    flex-direction: column;
    align-items: center;
  }
}

.news .wrapper {
  align-items: baseline;
}
.news .wrapper-title {
  width: 26rem;
}
@media screen and (max-width: 48em) {
  .news .wrapper {
    flex-direction: column;
  }
  .news .wrapper-title {
    width: 100%;
  }
}
.news__btn {
  background-color: #005BC1;
  padding: 1.5rem 3.4rem;
  transition: all 1s;
}
.news__btn:hover {
  background-color: #195396;
}
.news__btn a p {
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  color: #ffffff;
  text-transform: uppercase;
}
@media screen and (max-width: 48em) {
  .news__btn {
    width: 100%;
  }
  .news__btn a p {
    text-align: center;
  }
}
.news__content-wrapper {
  margin-bottom: 12rem;
}
.news__api.first {
  width: 54rem;
}
.news__api.first .subtitle {
  margin: 3rem 0 2rem;
}
.news__api.first .see-more a {
  text-decoration: underline;
  color: #343434;
}
.news__api.first .see-more a p {
  color: #000000;
}
.news__img {
  width: 25.5rem;
}
@media screen and (max-width: 48em) {
  .news__api, .news__space {
    flex-direction: column;
    margin-top: 3rem;
  }
  .news__api.first {
    width: auto;
  }
  .news__img {
    width: 30.5rem;
  }
}
.news__api {
  width: 22.5rem;
}
.news__api .title h4 {
  line-height: normal;
}
.news__api .title.media {
  width: 2rem;
}
@media screen and (max-width: 48em) {
  .news__api .title.media {
    width: auto;
  }
}
.news__api .subtitle {
  margin: 1.9rem 0;
}
.news__wrapper-date {
  align-items: end;
}
.news__wrapper-date .img {
  width: 12.8rem;
}
.news__content .news__wrapper-date {
  align-items: center;
}
.news__content .subtitle {
  width: 25.5rem;
}
@media screen and (max-width: 48em) {
  .news__content .subtitle {
    width: auto;
  }
}
@media screen and (max-width: 48em) {
  .news__content {
    margin-top: 1rem;
  }
}

.footer {
  background-color: #005BC1;
}
.footer__wrapper {
  padding: 1.1rem 0 0;
}
.footer__content-wrapper {
  align-items: center;
  padding: 2.5rem 0;
  border-bottom: 0.1rem solid #ffffff;
}
@media screen and (max-width: 48em) {
  .footer__content-wrapper {
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }
}
.footer__content-wrapper:last-child {
  border-bottom: none;
}
.footer__grid {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.footer__grid .footer__about {
  width: 20rem;
}
@media screen and (max-width: 48em) {
  .footer__grid .footer__about {
    width: auto;
  }
}
.footer__tel h4 {
  color: #ffffff;
  letter-spacing: 0.1em;
}
.footer__address p, .footer__email p {
  font-weight: 600;
  color: #ffffff;
}
.footer__about p {
  color: #ffffff;
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
