@import './variables';
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.521vw; // при вычисление в rem, 1 rem = 10px на ширине экрана 1920px
    font-weight: 300;
}
// @media (max-width: 108em) {
//     html {
//         font-size: 9px;
//     }
// }
// @media (max-width: 105em) {
//     html {
//         font-size: 8.75px;
//     }
// }
// @media (max-width: 91.5em) {
//     html {
//         font-size: 7.9px;
//     }
// }
// @media (max-width: 91em) {
//     html {
//         font-size: 8.4px;
//     }
// }
// @media (max-width: 90em) {
//     html {
//         font-size: 7.9px;
//     }
// }
// @media (max-width: 80em) {
//     html {
//         font-size: 7.2px;
//     }
// }
// @media (max-width: 72em) {
//     html {
//         font-size: 6.5px;
//     }
// }
// @media (max-width: 64em) {
//     html {
//         font-size: 5.5px;
//     }
// }

@media (max-width: 48em) {
    html {
        font-size: 10px;
        -webkit-text-size-adjust: none;
    }
}
@media (max-width: 44em) {
     html {
         font-size: 9px;
     } 
 }
 @media (max-width: 38em) {
     html {
         font-size: 8x;
     }
}
 @media (max-width: 34em) {
    html {
         font-size: 7px;
     }
 }
 @media (max-width: 30em) {
    html {
         font-size: 6px;
     }
 }
 @media (max-width: 26em) {
     html {
        font-size: 4.5px;
    }
 }


body {
    background-color: #E5E5E5;
    color: #ffffff;
}

div, p, a, button, input, form, span, ul, li  {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #000000;
    font-size: 3rem;
}
h4 {
    font-size: calc($font-h - 1.2rem);
    line-height: 2.6em;
}

a {
    color: #ffffff;
    text-decoration: none;
}

img {
    width: 100%;
}
