@import "./_normalize.scss";
@import "./_variables.scss";

p {
    font-size: $font-p;
    line-height: normal;
    font-weight: normal;
    color: #343434;
}

li::marker {
    color: #343434;
}

.container {
    width: 114rem;
    margin: 0 auto;
}
@media screen and (max-width: 48em) {
    .container {
        width: 95%;
    }
}

// wrapper / header

.wrapper-background {
    background: url(../img/hero--background.svg) no-repeat;
    min-height: 80rem;
    background-size: contain;
}
@media screen and (max-width: 48em) {
    .wrapper-background {
        background-size: auto;
        min-height: 70rem;
    }
}

.header {
    .container {
        width: 100%;
        .nav {
            @extend %wrapper;
            align-items: center;
            background-color: $first-screen-color;
            padding: 1.5rem 4rem;
            .logo {
                width: 14rem;
            }
            &__links {
                @extend %wrapper;
                width: 45.3rem;
                margin-right: 64rem;
                p {
                    font-weight: 600;
                    color: #ffffff;
                }
            }
            @media screen and (max-width: 48em) {
                &__links {
                    display: none;
                }
                .logo {
                    width: 10rem;
                }
            }
        }
        @media screen and (max-width: 48em) {
            .nav {
                padding: 1rem 1rem;
            }
        }
    }
}

.menu {
    display: none;
}

.menu-inner {
    display: none;
    position: fixed;
    background-color: #343434;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
}
.close {
    width: 4rem;
    top: 2%;
    right: 5%;
    position: absolute;
}
.menu-inner.scale-out-tr {
    -webkit-animation: scale-out-tr 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse both;
    animation: scale-out-tr 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse both;
}
.menu-inner.scale-in-tr {
    -webkit-animation: scale-out-tr 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: scale-out-tr 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.media-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    a p {
        color: #ffffff;
        margin-top: 2rem;
        font-size: calc($font-p + 1rem);
    }
}
.media-links.focus-in-contract {
    -webkit-animation: focus-in-contract 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1000ms backwards;
    animation: focus-in-contract 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1000ms backwards;
}
@media screen and (max-width: 48em) {
    .menu {
        display: block;
    }
}

.hero {
    .container {
        width: 61rem;
    }
    @media screen and (max-width: 48em) {
        .container {
            width: 95%;
        }
    }
    &__background {
        width: 44rem;
        height: 70.3rem;
        background-color: $first-screen-color;
        position: absolute;
        top: 9rem;
        left: 45.5rem;
    }
    @media screen and (max-width: 48em) {
        &__background {
            display: none;
        }
    }
    &__title {
        margin-top: 20.2rem;
        h1 {
            font-size: calc($font-h + 1.8rem);
            text-transform: none;
            color: #ffffff;
        }
    }
    &__title.focus-in-expand,
    &__subtitle.focus-in-expand {
        -webkit-animation: focus-in-expand 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: focus-in-expand 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    @media screen and (max-width: 48em) {
        &__title {
            margin-top: 10.2rem;
            h1 {
                font-size: calc($font-h + 1.6rem);
            }
        }
    }
    &__subtitle {
        width: 40rem;
        p {
            color: #ffffff;
            font-size: calc($font-p + 0.2rem);
        }
    }
    @media screen and (max-width: 48em) {
        &__subtitle {
            width: auto;
        }
    }
    &__btn {
        width: 16rem;
        display: block;
        p {
            font-size: calc($font-p + 0.2rem);
            font-weight: 600;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            padding: 0.9rem 3.6rem;
            border: 0.2rem solid #ffffff;
        }
    }
    @media screen and (max-width: 48em) {
        &__btn {
            width: auto;
            text-align: center;
        }
    }
}
.hero__subtitle,
.hero__btn {
    margin-top: 3rem;
}
.hero__subtitle,
.hero__btn,
.hero__title {
    position: relative;
}

.wrapper-title {
    padding: 15rem 0 2rem;
    width: 36rem;
    text-align: end;
    position: relative;
    h2 {
        line-height: 4.4em;
        letter-spacing: 0.1em;
        background: url(../img/heading--title.png) no-repeat left;
        background-size: 10rem;
    }
}
@media screen and (max-width: 48em) {
    .wrapper-title {
        padding-top: 7rem;
        width: auto;
        h2 {
            text-align: center;
            font-size: calc($font-h - 0.2rem);
            background: none;
        }
    }
}

// our-projects
.our-projects {
    .owl-item {
        position: relative;
        width: 54rem;
        &.active {
            margin-right: 3rem;
        }
    }

    .owl-carousel .owl-stage-outer {
        max-height: 42rem;
    }
    @media screen and (max-width: 48em) {
        .owl-carousel .owl-stage-outer {
            max-height: 32rem;
        }
    }

    .owl-theme .owl-nav {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 19rem;
        right: 0;
        margin: 0;
    }
    @media screen and (max-width: 48em) {
        .owl-theme .owl-nav {
            display: none;
        }
    }

    .carousel-name {
        position: absolute;
        width: 25rem;
        background-color: #ffffff;
        padding: 2rem 2.5rem;
        top: 25.5rem;
        right: 2.9rem;
    }
    @media screen and (max-width: 48em) {
        .carousel-name {
            top: 19.5rem;
            right: auto;
            width: auto;
        }
    }
}
.owl-prev,
.owl-next {
    width: 5.5rem;
}
.owl-theme .owl-nav [class*="owl-"] {
    margin: 0.1rem;
}

// catalog

.catalog {
    .wrapper-title {
        width: 44rem;
    }
    @media screen and (max-width: 48em) {
        .wrapper-title {
            width: auto;
        }
    }
    &__selector-name {
        @extend %wrapper;
        width: 20rem;
        margin: auto;
    }
    &__name {
        h3 {
            font-size: calc($font-h - 0.6rem);
            transition: ease-in-out 0.1s;
            &:hover {
                color: $base-color;
                border-bottom: 0.2rem solid $base-color;
            }
        }
    }

    &__production {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        margin-top: 5rem;
    }
    @media screen and (max-width: 48em) {
        &__production {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__item {
        position: relative;
    }
    &__title-item {
        position: absolute;
        display: flex;
        background-color: $base-color;
        width: 26.5rem;
        height: 8.6rem;
        top: 20rem;
        right: 0;
    }
    @media screen and (max-width: 48em) {
        &__title-item {
            top: 15rem;
        }
    }
    &__title {
        padding: 1.7rem 3.5rem;
        text-align: start;
        display: flex;
        align-items: center;
        h4 {
            color: #ffffff;
            line-height: normal;
        }
    }
}

// rentEquipment
.rentEquipment {
    .wrapper-title {
        width: 48rem;
    }
    @media screen and (max-width: 48em) {
        .wrapper-title {
            width: auto;
            h2 {
                line-height: normal;
            }
        }
    }
}

.rent {
    &__wrapper {
        @extend %wrapper;
        align-items: center;
    }
    &__content-wrapper {
        padding: 3.2rem 3rem;
    }
    @media screen and (max-width: 48em) {
        &__content-wrapper {
            padding: 1.2rem 2rem;
        }
    }
    &__discription {
        width: 35rem;
        p {
            font-size: calc($font-p + 0.4rem);
        }
    }
    @media screen and (max-width: 48em) {
        &__discription {
            display: none;
        }
    }
    &__carousel-wrapper {
        border: 0.3rem solid $base-color;
        width: 66.5rem;
    }
    @media screen and (max-width: 48em) {
        &__carousel-wrapper {
            width: -webkit-fill-available;
        }
    }
    &__title {
        position: relative;
        margin-bottom: 3rem;
    }
    &__carousel-img {
        width: 25.5rem;
    }
    &__carousel-title {
        margin-bottom: 3rem;
        h5 {
            font-size: calc($font-h - 1.4rem);
        }
    }
    &__content-pros {
        margin-left: 2.5rem;
        width: 26rem;
        li {
            margin-bottom: 2rem;
        }
    }
    @media screen and (max-width: 48em) {
        &__content-pros {
            width: auto;
        }
    }

    .owl-nav {
        position: absolute;
        top: -8.2rem;
        right: 0;
        margin-top: 0;
    }
    .owl-item {
        @extend %wrapper;
    }
    @media screen and (max-width: 48em) {
        .owl-nav {
            display: none;
        }
        .owl-item {
            flex-direction: column;
            align-items: center;
        }
    }
}

// news

.news {
    .wrapper {
        @extend %wrapper;
        align-items: baseline;
    }
    .wrapper-title {
        width: 26rem;
    }
    @media screen and (max-width: 48em) {
        .wrapper {
            flex-direction: column;
        }
        .wrapper-title {
            width: 100%;
        }
    }

    &__btn {
        background-color: $base-color;
        padding: 1.5rem 3.4rem;
        transition: all 1s;
        &:hover {
            background-color: #195396;
        }
        a p {
            font-weight: 600;
            letter-spacing: 0.1rem;
            font-size: calc($font-p + 0.2rem);
            color: #ffffff;
            text-transform: uppercase;
        }
    }
    @media screen and (max-width: 48em) {
        &__btn {
            width: 100%;
            a p {
                text-align: center;
            }
        }
    }

    &__content-wrapper {
        margin-bottom: 12rem;
    }

    &__space,
    &__api.first,
    &__wrapper-date {
        @extend %wrapper;
    }
    &__api.first {
        width: 54rem;
        .subtitle {
            margin: 3rem 0 2rem;
        }
        .see-more a {
            text-decoration: underline;
            color: #343434;
            p {
                color: #000000;
            }
        }
    }
    &__img {
        width: 25.5rem;
    }
    @media screen and (max-width: 48em) {
        &__api,
        &__space {
            flex-direction: column;
            margin-top: 3rem;
        }
        &__api.first {
            width: auto;
        }
        &__img {
            width: 30.5rem;
        }
    }
    &__api {
        width: 22.5rem;
        .title h4 {
            line-height: normal;
        }
        .title.media {
            width: 2rem;
        }
        @media screen and (max-width: 48em) {
            .title.media {
                width: auto;
            }
        }
        .subtitle {
            margin: 1.9rem 0;
        }
    }

    &__wrapper-date {
        align-items: end;
        .img {
            width: 12.8rem;
        }
    }

    &__content {
        .news__wrapper-date {
            align-items: center;
        }
        .subtitle {
            width: 25.5rem;
        }
        @media screen and (max-width: 48em) {
            .subtitle {
                width: auto;
            }
        }
    }
    @media screen and (max-width: 48em) {
        &__content {
            margin-top: 1rem;
        }
    }
}

.footer {
    background-color: $base-color;
    &__wrapper {
        padding: 1.1rem 0 0;
    }
    &__content-wrapper {
        @extend %wrapper;
        align-items: center;
        padding: 2.5rem 0;
        border-bottom: 0.1rem solid #ffffff;
    }
    @media screen and (max-width: 48em) {
        &__content-wrapper {
            align-items: flex-start;
            flex-direction: column;
            gap: 1rem;
        }
    }
    &__content-wrapper:last-child {
        border-bottom: none;
    }
    &__grid {
        display: grid;
        row-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        .footer__about {
            width: 20rem;
        }
        @media screen and (max-width: 48em) {
            .footer__about {
                width: auto;
            }
        }
    }
    &__tel h4 {
        color: #ffffff;
        letter-spacing: 0.1em;
    }
    &__address,
    &__email {
        p {
            font-weight: 600;
            color: #ffffff;
        }
    }
    &__about {
        p {
            color: #ffffff;
            opacity: 0.8;
        }
    }
}

// animations

@-webkit-keyframes scale-out-tr {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}
@keyframes scale-out-tr {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

@-webkit-keyframes scale-in-tr {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}
@keyframes scale-in-tr {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

@-webkit-keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@-webkit-keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
